* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.mainPage {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

.centerText {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.error {
    color: red;
}

input {
    margin: 10px;
}

.popup {
    display: block;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
}

.logoutBtn {
    display: block;
    margin: auto;
}